.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid #13646d;
  color: #13646d;
  margin-bottom: 50px;
}
.page-description {
  font-size: 18px;
  margin-bottom: 20px;
  color: #13646d;
  letter-spacing: 1px;
}
.item-row img {
  width: 100%;
}
.item-row {
  padding: 30px 0;
}
.item-row p {
  margin-top: 10px;
  line-height: 2em;
  text-align: justify;
  letter-spacing: 1px;
}
.label-list {
  list-style: none;
  text-align: left;
}
