.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid #1D98A6;
  color: #1D98A6;
  margin-bottom: 50px;
}
.page-description {
  font-size: 18px;
  margin-bottom: 20px;
  color: #1D98A6;
  letter-spacing: 1px;
  line-height: 1.8;
  text-align: center;
}
.item-row img {
  width: 100%;
}
.item-row {
  padding: 30px 0;
  /* display: flex; */
  color: #1D98A6;
}
.item-row p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.8em;
  text-align: justify;
  letter-spacing: 1px;
}
.label-list {
  margin-top: 20px;
  list-style: square;
  text-align: left;
  font-size: 16px;
  color: #1D98A6;
  letter-spacing: 1px;
  line-height: 1.8em;
}
.item-description {
  vertical-align: middle;
  align-self: center;
  margin-top: 15px;
}
.order {
  font-weight: bold;
  color: #fff;
  background-color: #1D9AA8;
  padding: 5px 20px;
  border-radius: 5px;
  transition: .5s;
}
.order:hover {
  background-color: #1D98A6;
  transition: .5s;
  text-decoration: none;
  color: #fff;
}
