
/* Bootstrap Nav */
.navbar-default {
  background-color: #000000;
  border-color: #13646d;
}
.navbar-default .navbar-brand {
  color: #CBFFEC;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #CBFFEC;
}
.navbar-default .navbar-text {
  color: #CBFFEC;
}
.navbar-default .navbar-nav > li > a {
  color: #CBFFEC;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #CBFFEC;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #CBFFEC;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #CBFFEC;
  background-color: #13646d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #13646d;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #CBFFEC;
  background-color: #13646d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #CBFFEC;
  background-color: #13646d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #CBFFEC;
  background-color: #13646d;
}
.navbar-default .navbar-toggle {
  border-color: #13646d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #13646d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #CBFFEC;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #CBFFEC;
}
.navbar-default .navbar-link {
  color: #CBFFEC;
}
.navbar-default .navbar-link:hover {
  color: #CBFFEC;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #CBFFEC;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CBFFEC;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #CBFFEC;
    background-color: #13646d;
  }
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


/* CSS overrides */
body {
  font-family: 'Work Sans', sans-serif;
}
.header {
  background-color: #13646d;
}
.row-flex {
  display: flex;
}
.tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}
.tagline p {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.tag-accent {
  font-weight: bold;
  color: #CBFFEC;
}

/* Parallax Image */
.pantone-book {
      /* The image used */
  background-image: url("../img/panbook.jpg");

      /* Set a specific height */
  min-height: 300px;

      /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
}
.sky {
      /* The image used */
  background-image: url("../img/jaime-serrano-unsplash.jpg");

      /* Set a specific height */
  min-height: 200px;

      /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
}


/* Page content */
.panel-space-dark {
  background-color: #13646d;
  color: #CBFFEC;
  padding: 30px 0;
}
.panel-space-light {
  background-color: #CBFFEC;
  padding: 30px 0;
}
.panel-img {
  border-radius: 0px;
}
.panel-text-dark {
  padding-top: 20px;
}
.panel-text-dark h1, .panel-text-light h1 {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid;
}
.panel-text-dark p, .panel-text-light p {
  text-align: center;
  line-height: 2em;
  padding: 0 20px;
  font-size: 16px;
}
.panel-text-light {
  padding-top: 20px;
  color: #13646d;
}


@media (max-width: 768px) {
  .pantone-book, .sky {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


@media only screen and (max-width: 376px) {
  /* Remove image for phones */
  .sky {
    display: none;
  }
  .tagline p {
    font-size: 15px;
  }
}
