/* Global */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #a7efdd /* Gray #DBDBDB*/;
  font-family: 'Work Sans', sans-serif  ;
}
.wrapper {
  margin: 0 auto;
  width: 90%;
}

/* Logo & Tagline area */
.container-top {
  color: #fff;
  height: 180px;
  background-color: #13646D /* Navy Blue #102147 */;
  margin-right: 0;
}
header p {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}
.tagline {
  font-weight: bold;
  color: #a7efdd;
}

/* Nav START */
.nav {
    margin:0;
    padding:0;
    text-align:center;
    list-style: none;
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
;
    border-top: 3px solid #a7efdd;
    border-bottom: 3px solid #a7efdd;
}
.nav li {
    display:inline;
}
.nav a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.nav li a:hover {
  background-color: background: -moz-linear-gradient(45deg, rgba(167,239,221,1) 0%, rgba(167,239,221,1) 3%, rgba(167,239,221,1) 13%, rgba(167,239,221,1) 37%, rgba(179,255,236,1) 50%, rgba(0,128,128,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(167,239,221,1)), color-stop(3%, rgba(167,239,221,1)), color-stop(13%, rgba(167,239,221,1)), color-stop(37%, rgba(167,239,221,1)), color-stop(50%, rgba(179,255,236,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(167,239,221,1) 0%, rgba(167,239,221,1) 3%, rgba(167,239,221,1) 13%, rgba(167,239,221,1) 37%, rgba(179,255,236,1) 50%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(167,239,221,1) 0%, rgba(167,239,221,1) 3%, rgba(167,239,221,1) 13%, rgba(167,239,221,1) 37%, rgba(179,255,236,1) 50%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(167,239,221,1) 0%, rgba(167,239,221,1) 3%, rgba(167,239,221,1) 13%, rgba(167,239,221,1) 37%, rgba(179,255,236,1) 50%, rgba(0,128,128,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(167,239,221,1) 0%, rgba(167,239,221,1) 3%, rgba(167,239,221,1) 13%, rgba(167,239,221,1) 37%, rgba(179,255,236,1) 50%, rgba(0,128,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#a7efdd',GradientType=1 ); /* ie6-9 */;
  color: #000;
}
/* Nav END */

/* Banner area */
.banner-img {
  background: url('../img/color_smoke.jpg') no-repeat;
  height: 150%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  margin-bottom: 80px;
}
#supplying {
  color: #fff;
  text-align: center;
  padding: 0 10px;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}

/* Slider */
.container-slider {
  width: 50%;
  min-width: 275px;
  margin: 0 auto;
}

/*------ About boxes START ------*/
.container-about {
  text-align: center;
}
.one-third {
  display: inline-block;
  position: relative;
  width: 275px;
  height: 600px;
  text-align: center;
  background-color: #13646D;
  padding: 20px 20px 0 20px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #505359;
  color: #DDFFF5;
}
.one-third h1 {
  border-bottom: 2px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.one-third p {
  font-size: 18px;
}
.one-third img {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 5px;
}
/* Compensation for Safari offset */
#first {
  top: 6px;
}
#second {
  bottom: 15px;
}
#third {
  top: 49px;
}
/*----- About boxes END ------*/

/* Contact area START */
.container-contact {
  color: white;
  background-color: black;
  border-top: 3px solid white;
  margin-top: 80px;
  padding: 10px;
  text-align: center;
}
.container-contact h2 {
  margin: 30px 0;
}
#help {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
.container-contact p {
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}
.container-contact p img {
  margin-right: 10px;
}
.tel {
  text-decoration: none;
  color: inherit;
}
/* Contact area END */

/* Bottom nav */
#bottom-nav {
  margin:0;
  padding:0;
  text-align:center;
  list-style: none;
  background-color: #000;
  border-top: 3px solid #a7efdd;
}

/* Footer */
#footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
}

#footer a {
  color: black;
}

   /*------ Media Queries ------ */
@media screen and (max-width: 1096px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  header p {
    font-size: 18px;
  }
  .one-third {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 265px;
  }
  /* Compensation for Safari offset */
  #first {
    top: 0;
  }
  #second {
    bottom: 0;
  }
  #third {
    top: 0;
  }
}
