/* Bootstrap Nav */
.navbar-default {
  background-color: #000000;
  border-color: #13646d;
}
.navbar-default .navbar-brand {
  color: #a7efdd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #a7efdd;
}
.navbar-default .navbar-text {
  color: #a7efdd;
}
.navbar-default .navbar-nav > li > a {
  color: #a7efdd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #a7efdd;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #a7efdd;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #a7efdd;
  background-color: #13646d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #13646d;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #a7efdd;
  background-color: #13646d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #a7efdd;
  background-color: #13646d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #a7efdd;
  background-color: #13646d;
}
.navbar-default .navbar-toggle {
  border-color: #13646d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #13646d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #a7efdd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #a7efdd;
}
.navbar-default .navbar-link {
  color: #a7efdd;
}
.navbar-default .navbar-link:hover {
  color: #a7efdd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #a7efdd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a7efdd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a7efdd;
    background-color: #13646d;
  }
}

/* CSS overrides */
body {
  font-family: 'Work Sans', sans-serif;
}
.header {
  background-color: teal;
}
.tagline {
  text-align: center;
  top: 50%;
}



.panel-space-dark {
  background-color: #13646d;
  color: #E8E0E0;
  padding: 30px 0;
}
.panel-space-light {
  background-color: #a7efdd;
  padding: 30px 0;
}

.panel-img {
  border-radius: 5px;
}

.panel-text-dark {
  padding-top: 20px;
}
.panel-text-dark h1 {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid;
}
.panel-text-dark p {
  text-align: justify;
  line-height: 2em;
  padding: 0 20px;
}

.panel-text-light {
  padding-top: 20px;
  color: #13646d;
}
.panel-text-light h1 {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid;
}
.panel-text-light p {
  text-align: justify;
  line-height: 2em;
  padding: 0 20px;
}




@media (min-width: 400px) {

}
@media (max-width: 992px) {

}
