.weigh-scale-container {
    display: -moz-inline-grid;
}

.weigh-scale-grid-item {
    padding: 20px;
}

.printer-page-description {
    font-size: 18px;
    color: #1D98A6;
    letter-spacing: 1px;
    line-height: 1.8;
}

.printer-list {
    margin-top: 5px;
    list-style: square;
    text-align: left;
    font-size: 16px;
    color: #1D98A6;
    letter-spacing: 1px;
    line-height: 1.2em;
  }